body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #2b5876, #4e4376);
    color: #fff;
}

.App {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.dark{
    background-color: #000;
    color: #fff;
}

button {
    margin: 10px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(to right, #ff6e7f, #bfe9ff);
    color: #333;
    border: none;
    border-radius: 25px;
    transition: background 0.3s ease, transform 0.2s ease-in-out;
}

button:hover {
    background: linear-gradient(to right, #ff0844, #ffb199);
    transform: scale(1.05);
}

.main {
    background: linear-gradient(to right, #f83600, #f9d423);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.selected {
    padding: 20px;
}

.contacts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* Updated .contact class for overlapping effect */
.contact {
    position: relative;
    background: linear-gradient(to right, #000428, #004e92);
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;    
}


.contact:hover {
    transform: scale(1.1);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .contacts {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 400px) {
    button {
        font-size: 14px;
    }
}

/* App.css or NewContact.css */

.new-contact {
    background: linear-gradient(to right, #2b5876, #4e4376);
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

.form-group {
    margin: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(to right, #ff6e7f, #bfe9ff);
    color: #333;
    border: none;
    border-radius: 25px;
    transition: background 0.3s ease, transform 0.2s ease-in-out;
}

button:hover {
    background: linear-gradient(to right, #ff0844, #ffb199);
    transform: scale(1.05);
}